.footer{
    padding-top: 52px;
    padding-bottom: 21px;
    &__wrapper{
        position: relative;
        width: 355px;
        margin: 0 auto;
    }
    &__img-wrapper{
        margin-top: 30px;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 60px;
            height: 2px;
            right: 77px;
            top: 67px;
            background: black;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 60px;
            height: 2px;
            left: 77px;
            top: 67px;
            background: black;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
    &__img{
        display: block;
        margin: 0 auto;
    }
}